#term {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #999;
    border-radius: 15px;
    padding: 15px;
}

#main_container {
    width: 1200px;
    height: 100%;
    margin: 0px auto 0px auto;
    padding: 0;
    overflow: hidden;
}

#header {
    width: 100%;
    text-align: center;
    font-family: monospace;
    margin-bottom: 30px;
    color: #000;
}

.cmd {
    color: #fff;
    margin-bottom: 10px;
}

body {
    background-color: #dddddd;
}
